@import 'bootstrap/dist/css/bootstrap.min.css';

.navbar-search {
  width: 300px;
}

.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('https://t3.ftcdn.net/jpg/04/65/46/52/360_F_465465254_1pN9MGrA831idD6zIBL7q8rnZZpUCQTy.jpg');
  background-size: cover;
  background-position: center;
  min-height: 500px;
}

.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 1000;
}
